<a href="https://colab.research.google.com/github/Anthonylwz/cssma/blob/main/ejercicios%20propuestos%201%20y%202.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Numpy, libreria de ciencia de datos

In [ ]:
import numpy as np
#pip install numpy

array de 1 dimension

In [ ]:
array_1d=np.array((10,20,30))
print(array_1d)

[10 20 30]

In [ ]:
array_1d

array([10, 20, 30])

Array de 2 dimensiones

In [ ]:
array_2d=np.array([(10,20,30),(50,60,70)])
array_2d

array([[10, 20, 30],
       [50, 60, 70]])

Array de 3 dimensiones

In [ ]:
array_3d=np.array([(10,30,40),(50,60,70),(80,90,100)], dtype =float)
array_3d

array([[ 10.,  30.,  40.],
       [ 50.,  60.,  70.],
       [ 80.,  90., 100.]])

Array con cerors de 3 filas y columnas

In [ ]:
np.zeros((3,4))

array([[0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.]])

In [ ]:
print(np.zeros((4,5)))

[[0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0.]]

Array de unos y con 2 dimensiones 4 filas y 5 columnas

In [ ]:
np.ones((2,4,5))

array([[[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]],

       [[1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.],
        [1., 1., 1., 1., 1.]]])

Arrays intervalos y saltos

In [ ]:
np.arange(11,30,2)

array([11, 13, 15, 17, 19, 21, 23, 25, 27, 29])

Array con intervalos y divisiones

In [ ]:
np.linspace(0,4,7)

array([0.        , 0.66666667, 1.33333333, 2.        , 2.66666667,
       3.33333333, 4.        ])

Arrays con valores dados

n√∫meros primos 11 al 30

In [ ]:
np.full((3,3),7)

array([[7, 7, 7],
       [7, 7, 7],
       [7, 7, 7]])

Array con matriz identidad, diagonal de unos

In [ ]:
np.eye(3)

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

Array valores Aletorios

In [ ]:
np.random.random((5,4))

array([[0.22427513, 0.8185829 , 0.59601325, 0.17335236],
       [0.53132843, 0.84154778, 0.60544078, 0.77270054],
       [0.27896458, 0.57092147, 0.69575195, 0.13880172],
       [0.83260906, 0.12338563, 0.31662342, 0.36102589],
       [0.24371596, 0.07196885, 0.16905481, 0.55747915]])

Array de numeros vacios 4/*3

In [ ]:
np.empty((4,3))

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

Grabar y cargar

In [ ]:
#Grabar
np.save("mi_array_3d",array_3d)

In [ ]:
#Cargar
mi_array=np.load("mi_array_3d.npy")
mi_array

array([[ 10.,  30.,  40.],
       [ 50.,  60.,  70.],
       [ 80.,  90., 100.]])

In [ ]:
#Grabar
np.save("array_2d", array_2d)

In [ ]:
#Cargar
mi_array=np.load("array_2d.npy")
mi_array

array([[10, 20, 30],
       [50, 60, 70]])

Grabar y cargar ficheros de texto

In [ ]:
#grabar el fichero de texto
np.savetxt("mi_array.txt",array_2d, delimiter=",")

In [ ]:
#cargar de fichero de texto
np.loadtxt("mi_array.txt", delimiter=",")

array([[10., 20., 30.],
       [50., 60., 70.]])

ejercicio01

In [ ]:
#grabar
asignaturas = ["Matem√°ticas", "F√≠sica", "Qu√≠mica", "Historia", "Lengua"]
np.save("ejercicios/ejercicio 01.npy", asignaturas)

In [ ]:
#cargar
np.load("ejercicios/ejercicio 01.npy")

array(['Matem√°ticas', 'F√≠sica', 'Qu√≠mica', 'Historia', 'Lengua'],
      dtype='<U11')

ejercicio 02

In [ ]:
materias = ["Matem√°ticas", "F√≠sica", "Qu√≠mica", "Historia", "Lengua"]
np.save("ejercicios/ejercicio02.npy", materias)

In [ ]:
np.load("ejercicios/ejercicio02.npy")
for m in materias:
    print(f"Yo estudio {m}")

Yo estudio Matem√°ticas
Yo estudio F√≠sica
Yo estudio Qu√≠mica
Yo estudio Historia
Yo estudio Lengua

ejercicio 03

In [ ]:
#grabar
asignaturas = ["Matem√°ticas", "F√≠sica", "Qu√≠mica", "Historia", "Lengua"]
np.save("ejercicios/ejercicio_03.npy", asignaturas)

In [ ]:
112#cargar
asignaturas = np.load("ejercicios/ejercicio_03.npy")
for asignatura in asignaturas:
    nota = input(f"¬øQu√© nota sacaste en {asignatura}? ")
    print(f"En {asignatura} has sacado {nota}")

¬øQu√© nota sacaste en Matem√°ticas? 12
En Matem√°ticas has sacado 12
¬øQu√© nota sacaste en F√≠sica? 12
En F√≠sica has sacado 12
¬øQu√© nota sacaste en Qu√≠mica? 12
En Qu√≠mica has sacado 12
¬øQu√© nota sacaste en Historia? 12
En Historia has sacado 12
¬øQu√© nota sacaste en Lengua? 12
En Lengua has sacado 12

Ejercicio 04

In [ ]:
#grabar
import numpy as np
ganadores = []
for i in range(6):
    numero = int(input(f"Introduce el n√∫mero ganador {i+1}: "))
    ganadores.append(numero)
np.save("ejercicios/ejercicio_04.npy", np.array(ganadores))

Introduce el n√∫mero ganador 1: 12
Introduce el n√∫mero ganador 2: 12
Introduce el n√∫mero ganador 3: 12
Introduce el n√∫mero ganador 4: 12
Introduce el n√∫mero ganador 5: 12
Introduce el n√∫mero ganador 6: 12

In [ ]:
#cargar
import numpy as np
ganadores = np.load("ejercicios/ejercicio_04.npy")
ganadores_ordenados = np.sort(ganadores)
print("N√∫meros ganadores ordenados:", ", ".join(str(n) for n in ganadores_ordenados))

N√∫meros ganadores ordenados: 12, 12, 12, 12, 12, 12

Ejercicio 05

In [ ]:
#  grabar
import numpy as np

numeros = list(range(1, 11))
np.save("ejercicios/ejercicio_05.npy", numeros)

In [ ]:
#  cargar
import numpy as np
numeros = np.load("ejercicios/ejercicio_05.npy")
print("N√∫meros en orden inverso:")
print(", ".join(str(n) for n in reversed(numeros)))

N√∫meros en orden inverso:
10, 9, 8, 7, 6, 5, 4, 3, 2, 1

Ejercicio 06

In [ ]:
# grabar
import numpy as np
asignaturas = ["Matem√°ticas", "F√≠sica", "Qu√≠mica", "Historia", "Lengua"]
np.save("ejercicios/ejercicio_06.npy", asignaturas)

In [ ]:
# cargar
import numpy as np
asignaturas = np.load("ejercicios/ejercicio_06.npy")
suspendidas = []
for asignatura in asignaturas:
    nota = float(input(f"¬øQu√© nota sacaste en {asignatura}? "))
    if nota < 5:
        suspendidas.append(asignatura)
print("Tienes que repetir:", ", ".join(suspendidas))

¬øQu√© nota sacaste en Matem√°ticas? 12
¬øQu√© nota sacaste en F√≠sica? 12
¬øQu√© nota sacaste en Qu√≠mica? 12
¬øQu√© nota sacaste en Historia? 12
¬øQu√© nota sacaste en Lengua? 12
Tienes que repetir:

Ejercicio 07

In [ ]:
# grabar
import numpy as np
import string

abecedario = list(string.ascii_lowercase)
np.save("ejercicios/ejercicio_07.npy", np.array(abecedario))

In [ ]:
# üì§ cargar
import numpy as np

abecedario = np.load("ejercicios/ejercicio_07.npy")

resultado = [letra for i, letra in enumerate(abecedario) if (i + 1) % 3 != 0]

print(", ".join(resultado))

a, b, d, e, g, h, j, k, m, n, p, q, s, t, v, w, y, z

Ejercicio 8

In [ ]:
# grabar
import numpy as np

palabra = input("Introduce una palabra: ")
np.save("ejercicios/ejercicio_08.npy", np.array([palabra]))

Introduce una palabra: hola

In [ ]:
# üì§ cargar
import numpy as np

palabra = np.load("ejercicios/ejercicio_08.npy")[0]

if palabra == palabra[::-1]:
    print("La palabra es un pal√≠ndromo.")
else:
    print("La palabra no es un pal√≠ndromo.")

La palabra no es un pal√≠ndromo.

Ejercicio 9

In [ ]:
# grabar
import numpy as np

palabra = input("Introduce una palabra: ").lower()
np.save("ejercicios/ejercicio_09.npy", np.array([palabra]))

Introduce una palabra: love

In [ ]:
# cargar
import numpy as np
palabra = np.load("ejercicios/ejercicio_09.npy")[0]
vocales = "aeiou"
for vocal in vocales:
    print(f"{vocal}: {palabra.count(vocal)}")

a: 0
e: 1
i: 0
o: 1
u: 0

Ejercicio 10

In [ ]:
# grabar
import numpy as np
precios = [50, 75, 46, 22, 80, 65, 8]
np.save("ejercicios/ejercicio_10.npy", np.array(precios))

In [ ]:
# cargar
import numpy as np
precios = np.load("ejercicios/ejercicio_10.npy")

print("Menor precio:", min(precios))
print("Mayor precio:", max(precios))

Menor precio: 8
Mayor precio: 80

Ejercicio 11

In [ ]:
# grabar
import numpy as np
vector1 = [1, 2, 3]
vector2 = [-1, 0, 2]
np.save("ejercicios/ejercicio_11_vector1.npy", np.array(vector1))
np.save("ejercicios/ejercicio_11_vector2.npy", np.array(vector2))

In [ ]:
#  cargar
import numpy as np
vector1 = np.load("ejercicios/ejercicio_11_vector1.npy")
vector2 = np.load("ejercicios/ejercicio_11_vector2.npy")

producto_escalar = np.dot(vector1, vector2)

print("Producto escalar:", producto_escalar)

Producto escalar: 5

Ejercicio 12

In [ ]:
# grabar
import numpy as np
matriz1 = [[1, 2], [3, 4]]
matriz2 = [[5, 6], [7, 8]]
np.save("ejercicios/ejercicio_12_matriz1.npy", np.array(matriz1))
np.save("ejercicios/ejercicio_12_matriz2.npy", np.array(matriz2))

In [ ]:
#  cargar
import numpy as np
matriz1 = np.load("ejercicios/ejercicio_12_matriz1.npy")
matriz2 = np.load("ejercicios/ejercicio_12_matriz2.npy")
producto = np.dot(matriz1, matriz2)

print("Producto de las matrices:")
print(producto)

Producto de las matrices:
[[19 22]
 [43 50]]

Ejercicio 13

In [ ]:
# grabar
import numpy as np
entrada = input("Introduce n√∫meros separados por comas: ")
numeros = [float(x.strip()) for x in entrada.split(",")]
np.save("ejercicios/ejercicio_13.npy", np.array(numeros, dtype=float))

Introduce n√∫meros separados por comas: 1,2,4

In [ ]:
# cargar
import numpy as np
numeros = np.load("ejercicios/ejercicio_13.npy")
media = np.mean(numeros)
desviacion = np.std(numeros)

print("Media:", round(media, 2))
print("Desviaci√≥n t√≠pica:", round(desviacion, 2))

Media: 2.33
Desviaci√≥n t√≠pica: 1.25

Tipos de datos

In [ ]:
#Enteros
np.int64

numpy.int64

In [ ]:
#Decimal, Flotantes
np.float64

numpy.float64

In [ ]:
#Complejos
np.complex64

numpy.complex64

In [ ]:
#Boleanos
np-np.bool_

Ejercicios propuestos 2

Ejercicio 1

In [1]:
a√±o_inicio = int(input("Ingrese el a√±o de inicio: "))
a√±o_fin = int(input("Ingrese el a√±o final: "))

a√±os = list(range(a√±o_inicio, a√±o_fin + 1))
ventas = []

for a√±o in a√±os:
    venta = float(input(f"Ingrese las ventas para el a√±o {a√±o}: "))
    ventas.append(venta)

serie_ventas = pd.Series(ventas, index=a√±os)
print("\nVentas originales:")
print(serie_ventas)

ventas_descuento = serie_ventas * 0.9
print("\nVentas con 10% de descuento:")
print(ventas_descuento)

Ingrese el a√±o de inicio: 2023
Ingrese el a√±o final: 2025
Ingrese las ventas para el a√±o 2023: 2000
Ingrese las ventas para el a√±o 2024: 11
Ingrese las ventas para el a√±o 2025: 150

Ventas originales:
2023    2000.0
2024      11.0
2025     150.0
dtype: float64

Ventas con 10% de descuento:
2023    1800.0
2024       9.9
2025     135.0
dtype: float64

Ejercicio 2

In [2]:
def resumen_notas(diccionario_notas):
    notas = pd.Series(list(diccionario_notas.values()))
    resumen = pd.Series({
        'Nota m√≠nima': notas.min(),
        'Nota m√°xima': notas.max(),
        'Nota media': notas.mean(),
        'Desviaci√≥n t√≠pica': notas.std()
    })
    return resumen

notas_alumnos = {
    'Juan': 15,
    'Ana': 18,
    'Luis': 12,
    'Carla': 19,
    'Pedro': 14
}

print(resumen_notas(notas_alumnos))

Nota m√≠nima          12.000000
Nota m√°xima          19.000000
Nota media           15.600000
Desviaci√≥n t√≠pica     2.880972
dtype: float64

Ejercicio 3

In [6]:
def notas_aprobados(diccionario_notas):
    notas = pd.Series(diccionario_notas)
    aprobados = notas[notas >= 13].sort_values(ascending=False)
    return aprobados

notas_alumnos = {
    'Juan': 15,
    'Ana': 18,
    'Luis': 12,
    'Carla': 19,
    'Pedro': 14
}

print(notas_aprobados(notas_alumnos))

Carla    19
Ana      18
Juan     15
Pedro    14
dtype: int64

Ejercicio 4

In [7]:
datos = {
    'Mes': ['Enero', 'Febrero', 'Marzo', 'Abril'],
    'Ventas': [30500, 35600, 28300, 33900],
    'Gastos': [22000, 23400, 18100, 20700]
}

df = pd.DataFrame(datos)
print(df)

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

Ejercicio 5

In [8]:
def balance_total(df, lista_meses):
    df_filtrado = df[df['Mes'].isin(lista_meses)]
    balance = (df_filtrado['Ventas'] - df_filtrado['Gastos']).sum()
    return balance

meses_seleccionados = ['Enero', 'Marzo']
print(balance_total(df, meses_seleccionados))

18700

Ejercicio 6

In [17]:
def resumen_cotizacion(nombre_archivo):
    df = pd.read_csv(nombre_archivo)
    resumen = df.describe().loc[['min', 'max', 'mean']]
    resumen.rename(index={'min': 'M√≠nimo', 'max': 'M√°ximo', 'mean': 'Media'}, inplace=True)
    return resumen

Ejercicio 7

In [19]:
import pandas as pd

df = pd.read_csv('/content/titanic.csv')

print("Dimensiones:", df.shape)
print("N√∫mero de datos:", df.size)
print("Columnas:", df.columns.tolist())
print("√çndices:", df.index.tolist())
print("Tipos de datos:\n", df.dtypes)
print("Primeras 10 filas:\n", df.head(10))
print("√öltimas 10 filas:\n", df.tail(10))
print("Pasajero con ID 148:\n", df.loc[148])
print("Filas pares:\n", df.iloc[::2])
primera_clase = df[df['Pclass'] == 1]['Name'].sort_values()
print("Personas en primera clase ordenadas alfab√©ticamente:\n", primera_clase)
supervivientes = df['Survived'].value_counts(normalize=True) * 100
print("Porcentaje de personas que sobrevivieron y murieron:\n", supervivientes)
supervivientes_clase = df.groupby('Pclass')['Survived'].mean() * 100
print("Porcentaje de supervivientes en cada clase:\n", supervivientes_clase)
df = df.dropna(subset=['Age'])
edad_media_mujeres = df[df['Sex'] == 'female'].groupby('Pclass')['Age'].mean()
print("Edad media de mujeres por clase:\n", edad_media_mujeres)
df['MenorEdad'] = df['Age'] < 18
supervivencia_menores = df.groupby(['Pclass', 'MenorEdad'])['Survived'].mean() * 100
print("Porcentaje de menores y mayores que sobrevivieron en cada clase:\n", supervivencia_menores)

Dimensiones: (891, 12)
N√∫mero de datos: 10692
Columnas: ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
√çndices: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890]
Tipos de datos:
 PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object
Primeras 10 filas:
    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3
5            6         0       3
6            7         0       1
7            8         0       3
8            9         1       3
9           10         1       2

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0
5                                   Moran, Mr. James    male   NaN      0
6                            McCarthy, Mr. Timothy J    male  54.0      0
7                     Palsson, Master. Gosta Leonard    male   2.0      3
8  Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
9                Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
5      0            330877   8.4583   NaN        Q
6      0             17463  51.8625   E46        S
7      1            349909  21.0750   NaN        S
8      2            347742  11.1333   NaN        S
9      0            237736  30.0708   NaN        C
√öltimas 10 filas:
      PassengerId  Survived  Pclass                                      Name  \
881          882         0       3                        Markun, Mr. Johann
882          883         0       3              Dahlberg, Miss. Gerda Ulrika
883          884         0       2             Banfield, Mr. Frederick James
884          885         0       3                    Sutehall, Mr. Henry Jr
885          886         0       3      Rice, Mrs. William (Margaret Norton)
886          887         0       2                     Montvila, Rev. Juozas
887          888         1       1              Graham, Miss. Margaret Edith
888          889         0       3  Johnston, Miss. Catherine Helen "Carrie"
889          890         1       1                     Behr, Mr. Karl Howell
890          891         0       3                       Dooley, Mr. Patrick

        Sex   Age  SibSp  Parch            Ticket     Fare Cabin Embarked
881    male  33.0      0      0            349257   7.8958   NaN        S
882  female  22.0      0      0              7552  10.5167   NaN        S
883    male  28.0      0      0  C.A./SOTON 34068  10.5000   NaN        S
884    male  25.0      0      0   SOTON/OQ 392076   7.0500   NaN        S
885  female  39.0      0      5            382652  29.1250   NaN        Q
886    male  27.0      0      0            211536  13.0000   NaN        S
887  female  19.0      0      0            112053  30.0000   B42        S
888  female   NaN      1      2        W./C. 6607  23.4500   NaN        S
889    male  26.0      0      0            111369  30.0000  C148        C
890    male  32.0      0      0            370376   7.7500   NaN        Q
Pasajero con ID 148:
 PassengerId                                         149
Survived                                              0
Pclass                                                2
Name           Navratil, Mr. Michel ("Louis M Hoffman")
Sex                                                male
Age                                                36.5
SibSp                                                 0
Parch                                                 2
Ticket                                           230080
Fare                                               26.0
Cabin                                                F2
Embarked                                              S
Name: 148, dtype: object
Filas pares:
      PassengerId  Survived  Pclass  \
0              1         0       3
2              3         1       3
4              5         0       3
6              7         0       1
8              9         1       3
..           ...       ...     ...
882          883         0       3
884          885         0       3
886          887         0       2
888          889         0       3
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
4                             Allen, Mr. William Henry    male  35.0      0
6                              McCarthy, Mr. Timothy J    male  54.0      0
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)  female  27.0      0
..                                                 ...     ...   ...    ...
882                       Dahlberg, Miss. Gerda Ulrika  female  22.0      0
884                             Sutehall, Mr. Henry Jr    male  25.0      0
886                              Montvila, Rev. Juozas    male  27.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
2        0  STON/O2. 3101282   7.9250   NaN        S
4        0            373450   8.0500   NaN        S
6        0             17463  51.8625   E46        S
8        2            347742  11.1333   NaN        S
..     ...               ...      ...   ...      ...
882      0              7552  10.5167   NaN        S
884      0   SOTON/OQ 392076   7.0500   NaN        S
886      0            211536  13.0000   NaN        S
888      2        W./C. 6607  23.4500   NaN        S
890      0            370376   7.7500   NaN        Q

[446 rows x 12 columns]
Personas en primera clase ordenadas alfab√©ticamente:
 730                      Allen, Miss. Elisabeth Walton
305                     Allison, Master. Hudson Trevor
297                       Allison, Miss. Helen Loraine
498    Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
460                                Anderson, Mr. Harry
                            ...
155                        Williams, Mr. Charles Duane
351             Williams-Lambert, Mr. Fletcher Fellows
55                                   Woolner, Mr. Hugh
555                                 Wright, Mr. George
325                           Young, Miss. Marie Grice
Name: Name, Length: 216, dtype: object
Porcentaje de personas que sobrevivieron y murieron:
 Survived
0    61.616162
1    38.383838
Name: proportion, dtype: float64
Porcentaje de supervivientes en cada clase:
 Pclass
1    62.962963
2    47.282609
3    24.236253
Name: Survived, dtype: float64
Edad media de mujeres por clase:
 Pclass
1    34.611765
2    28.722973
3    21.750000
Name: Age, dtype: float64
Porcentaje de menores y mayores que sobrevivieron en cada clase:
 Pclass  MenorEdad
1       False        63.793103
        True         91.666667
2       False        41.333333
        True         91.304348
3       False        20.216606
        True         37.179487
Name: Survived, dtype: float64

ejercicio 8

In [35]:
df = pd.read_csv('misDatos.csv')

columnas_actuales = df.columns.tolist()

columnas_fijas = [col for col in ['ESTACION', 'MAGNITUD', 'A√ëO', 'MES'] if col in columnas_actuales]
columnas_dias = [col for col in columnas_actuales if col.startswith('D')]

df_filtrado = df[columnas_fijas + columnas_dias]

if 'DIA' not in df_filtrado.columns:
    df_filtrado = df_filtrado.melt(id_vars=columnas_fijas, var_name='DIA', value_name='VALOR')
    df_filtrado['DIA'] = df_filtrado['DIA'].str.extract('D(\d+)').astype(int, errors='ignore')

if all(col in df_filtrado.columns for col in ['A√ëO', 'MES', 'DIA']):
    df_filtrado['FECHA'] = pd.to_datetime(df_filtrado[['A√ëO', 'MES', 'DIA']], errors='coerce')
    df_filtrado = df_filtrado[~df_filtrado['FECHA'].isna()]
    df_filtrado = df_filtrado.sort_values(['ESTACION', 'MAGNITUD', 'FECHA'])

print(df_filtrado.head())

Empty DataFrame
Columns: [DIA, VALOR]
Index: []